 <include file='Public:header' /> 
 <include file='Public:menu' /> 
<link rel="stylesheet" href="__PUBLIC__/css/admin/news.css">

<div class="panel panel-primary">
    <div class="panel-heading">
        <span>轮播图列表</span>
        <a href="{:U('Slide/slide_add')}" class="btn btn-success btn-sm white pull-right">添加新的轮播图</a> 
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>名称</th>
                <th>图片</th> 
                <th>日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="slide_list" id="slide_id" key="k">
                <tr>
                    <td>{$k}</td>
                    <td>{$slide_id['nid']}</td> 
                    <td>{$slide_id.name}</td>                 
                    <td>{$slide_id.img}</td>
                    <td>{$slide_id.date|date="Y-m-d H:i:s",###}</td>
                    <td class="text-center">
						<div class="btn-group">
							<!--<a class="btn btn-success btn-xs" href="" target="_blank"><span class="glyphicon glyphicon-search"></span></a>-->
							<button onclick="location.href='{:U('Slide/slide_edit',array('id'=>$slide_id['nid']))}'" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
							<button onclick="location.href='{:U('Slide/slide_delete',array('id'=>$slide_id['nid']))}'" type="button"  class="btn btn-danger btn-xs"><i class="zmdi zmdi-delete"></i></button>
							
						</div>
					</td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>
 
     
     
<div class="btn-toolbar text-center" role="toolbar">
	<div class="btn-group">
		{$page_html}
	</div>
</div>
<link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css"> 
<include file='Public:footer' />  
<script src="__PUBLIC__/js/dropify.min.js"></script>

<script>
    $('.dropify').dropify();
</script>