<aside class="sidebar mCustomScrollbar _mCS_5 mCS-autoHide" style="overflow: visible;"><div id="mCSB_5" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_5_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
  <ul class="nav metismenu">
    
    <li class="">
      <a href="#" aria-expanded="false"><i class="zmdi zmdi-view-dashboard"></i>系统设置<span class="zmdi arrow"></span></a>
      <ul class="nav nav-inside collapse" aria-expanded="false" style="height: 0px;">
        <li class="inside-title">系统设置</li>
        <li><a href="/land/l3/index.html">网站设置</a></li>
        <li><a href="/land/l3/dashboard-2.html">管理员设置</a></li>
      </ul>
    </li>
        <li>
      <a href="#"><i class="zmdi zmdi-view-compact"></i>首页管理<span class="zmdi arrow"></span></a>
      <ul class="nav nav-inside collapse" aria-expanded="false">
        <li class="inside-title">首页管理</li>
        <li><a href="/land/l1/index_r.html">幻灯片管理</a></li>
        <li><a href="/land/l1/index_r.html">首页新闻管理</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="zmdi zmdi-google-pages"></i>用户管理<span class="zmdi arrow"></span></a>
      <ul class="nav nav-inside collapse" aria-expanded="false">
        <li class="inside-title">用户列表</li>
        <li><a href="/land/l3/article.html">添加用户</a></li>
        <li><a href="/land/l3/article.html">咨询列表</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="zmdi zmdi-flower"></i>新闻管理<span class="zmdi arrow"></span></a>
      <ul class="nav nav-inside collapse" aria-expanded="false">
        <li class="inside-title">新闻管理</li>
        <li><a href="__ROOT__/admin/news/index">新闻列表</a></li>
        <li><a href="__ROOT__/admin/news/add">添加新闻</a></li>
        
      </ul>
    </li>  
     
  </ul>
</div></div><div id="mCSB_5_scrollbar_vertical" class="mCSB_scrollTools mCSB_5_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_5_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 299px; max-height: 527px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></aside>


   <div class="container-fluid" >
      
       <div class="row">
        <div class="col-md-12">
          <div class="content-box">
             <div class="content">