<!DOCTYPE html>
<html>
<head lang="zh">
	<title>{$title}</title>

	<meta charset="UTF-8">

	 
	 <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="__PUBLIC__/css/home/common.css">
	 <script src="__PUBLIC__/js/jquery.1.11.1.min.js">	</script>


</head>
<body>
<div style="margin:0 auto;width:1200px;">
<nav>
	<ul>
		<li><a href="__URL__">首页</a></li>
		<li><a href="__URL__/about_us">关于我们</a></li>
		<li><a href="__URL__/contact_us">联系我们</a></li>
		<li><a href="__URL__/news">企业新闻</a></li>
	</ul>
	<ul>
		<li><a href="__URL__/login">登录</a></li>
		<li><a href="__URL__/register">注册</a></li>
	</ul>
</nav>


<!-- 占位符 -->
<div style="margin-bottom:200px;"></div>