<!DOCTYPE html>
<html>
<head lang="zh">
	<title>{$title}</title>

	<meta charset="UTF-8">

	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="__PUBLIC__/css/home/headAndFoot.css">
	 <script src="__PUBLIC__/js/jquery.1.11.1.min.js">	</script>
	  <script src="__PUBLIC__/bootstrap-3.3.0/js/bootstrap.min.js">	</script>

	<!--  <link rel="stylesheet" href="css/headAndFoot.css" />
	 <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
		
	<!--  <script type="text/javascript" src="js/jquery-1.9.1.min.js" ></script> -->
	 <script type="text/javascript" src="js/bootstrap.min.js" ></script>


</head>
<body>

	<nav class="navbar navbar-default top-nav" >
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <!--<a class="navbar-brand" href="#">
		      	<img class="logo" src="img/logo.png" />
		      </a>-->
		    </div>		
		    
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right color">
				        <li><a href="#">首页</a></li>
				        <li><a href="#">登录</a></li>
				        <li><a href="#">注册</a></li>
				        <li><a href="#">新闻</a></li>
				        <li><a href="#">联系我们</a></li>
				        <li><a href="#">关于我们</a></li>
				        <li>
				        	<a  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="cursor: pointer;">
				        		<span class="glyphicon glyphicon-search" style="color: white;" ></span>
				        	</a>
				        </li>
				      </ul>		          			        				        	
	        </div>
		  </div>
		</nav>

		<div style="height:300px"></div>

