 <include file='Public:header' /> 

 <include file='Public:menu' /> 

 <form action="{:U('System/user_edit')}" method="post" class="form_wd_23" enctype="multipart/form-data">
 	<div class="form-group">
 		<label class="control-label">用户名</label>
 		<br>{$user_info.user_name}</div>
 	<div class="form-group">
 		<label class="control-label">密码</label>
 		<input class="form-control" name="user_pwd" value="{$user_info.user_pwd}"></div>
 	<div class="form-group">
 		<label class="control-label">头像</label>

 		<input class="dropify" name="head_photo" data-default-file="__ROOT__/Uploads{$user_info.head_photo}" type="file"></div>
 	<button class="btn btn-success">提交</button>

 	<input type="hidden"  name="id" value="{$user_info.id}"></form>

 <link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css"> 
 <include file='Public:footer' /> 
 <script src="__PUBLIC__/js/dropify.min.js"></script>

 <script>$('.dropify').dropify();</script>