 <include file='Public:header' /> 

 <include file='Public:menu' /> 

 <form action="{:U('System/user_add')}" method="post" class="form_wd_23" enctype="multipart/form-data">
 	<div>
 		<label class="control-label">用户名</label>
 		<input class="form-control" name="user_name"></div>
 	<div>
 		<label class="control-label">密码</label>
 		<input class="form-control" name="user_pwd"></div>
 	<div>
 		<label class="control-label">头像</label>

 		<input class="dropify"  name="head_photo" type="file"></div>
 	<button class="btn btn-success">提交</button>

 	</form>
 <link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css"> 
 <include file='Public:footer' /> 
 <script src="__PUBLIC__/js/dropify.min.js"></script>

 <script>$('.dropify').dropify();</script>