<!-- /*
	*yxp
	*个人中心页面
 */ -->
<include file="public/header" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/personal.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/site.min.css">
		
	    <script src="__PUBLIC__/js/site.min.js" type="text/javascript" charset="utf-8"></script>                                  
<include file="public/headerstwo"/>		

		<div class="container-fluid" style="margin-top:60px;">
    	<!--documents-->
	        <div class="row row-offcanvas row-offcanvas-left">
	          <!-- 左边 -->
	          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	          	<ul class="list-group panel" >
	                <div class="user-aside span3">
					    <div class="people">
							  <div class="basic-info">
							    <div class="avatar" >
							      <img src="__ROOT__/{$head_photo}"/ alt="5">
							    </div>
							    <h3><a href="{:U('Personal/index')}">{$Think.session.username}</a></h3>
							    <ul class="clearfix" >
									
									<li id="sayhello">1</li>
									<br>
									<li><a href="__CONTROLLER__/edit_message">修改个人信息</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-18-拷贝.png"/></li>
								</ul>
							   
							  </div>
							  <br>
							  <div class="user-stats">
								  <ul class="clearfix" >
								    <li>
								      <p> 绑定邮箱：{$email_address}</p>
								    </li>
								    <li>
								    <i class="glyphicon glyphicon-list-alt"></i>
										<a href="news.html">看新闻</a>
								    </li>
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-pencil"></i>
								      <a href=""><span>写文章</span></a>
								    </li>
								    <!-- <li>
								      <a><b>0</b><span>字数</span></a>
								    </li> -->
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-heart"></i>
								      <a><span>收获喜欢</span></a>
								    </li>
								  </ul>
							</div>
						</div>
					</div>
	            </ul>
	          </div>
	          <!-- 右边 -->
	          <div class="col-xs-12 col-sm-9 content">
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> 修改文章</h3>
	              </div>
	              <div class="panel-body">
						<form role="form" class="form-horizontal" method="post" action="{:U('Personal/published_article')}" enctype="multipart/form-data">
					        <div class="form-group">
					          	<label for="title" class="col-md-2 control-label">标题</label>
					          	<div class="col-md-10">
					            	<input type="text" required="" placeholder="新闻标题" id="title" class="form-control" name="title" value="{$news_info[0][title]}">
					          	</div>
					        </div>
					        <div class="form-group">
					          	<label for="author" class="col-md-2 control-label">作者</label>
					          	<div class="col-md-10">
						          	<input class="form-control" value="{$Think.session.username}" disabled="true">
						          	<input type="hidden" name="author_id" value="{$author_list['id']}">
					            </div>
					        </div>
					        <div class="form-group">
					          	<label for="news_sort" class="col-md-2 control-label">分类</label>
					          	<div class="col-md-10">
					            	<select name="sort_id" class="form-control" required="" id="news_sort">
					            		<option selected="selected" class="d-none">请选择分类</option>
					            		<volist name="sort_list" id="vo">
					            			<option value="{$vo['id']}">{$vo['sort_name']}</option>
					            		</volist>
					            	</select>
					          	</div>
					        </div>
					        <div class="form-group">
					          	<label class="col-md-2 control-label" for="content">内容</label>
					          	<div class="col-md-10">
					            	<script id="container" name="content" type="text/plain">
					            		{$news_info[0]['content']}
									</script>
					          	</div>
					        </div>
					        <div class="form-group">
					          	<label class="col-md-2 control-label">图片</label>
					          	<div class="col-md-10">
					            	<input class="dropify form-control"  name="img" type="file" id="img" data-default-file="__PUBLIC__/{$news_info[0]['img']}">
					          	</div>
					        </div>
					        <div class="form-group">
					          	<div class="col-md-offset-2 col-md-10">
					            	<button  class="btn btn-info" type="submit">修改</button>
					          	</div>
					        </div>
					    </form>
				  </div>

	              
	              <!-- panel body -->
	            </div>
	        </div><!-- content -->
	      </div>
	    </div>




<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/ueditor.all.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css">
<include file='Public:footer' />

<script src="__PUBLIC__/js/dropify.min.js"></script>
<script src="__PUBLIC__/js/admin/news_add.js"></script>

<script type="text/javascript">
    function sayhello(){
    	var content=$('#sayhello');
    	var time=new Date();
    	var clock=time.getHours();
    	if(clock>6&&clock<=12){
    		content.html('上午好');
    	}else if(clock>12&&clock<=18){
    		content.html('下午好');
    	}else if(clock>18&&clock<=24){
    		content.html('晚上好');
    	}else{
    		console.log(clock);
    		content.html('凌晨好');
    	}
      }

      sayhello();
</script>
