<!-- /*
	*yxp
	*修改用户信息页面
 */ -->
<include file="public/header" />
<include file="public/headerstwo"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/personal.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/site.min.css">
		<script src="__PUBLIC__/js/site.min.js" type="text/javascript" charset="utf-8"></script>
	

		<div class="container-fluid" style="margin-top:60px;">
    	<!--documents-->
	        <div class="row row-offcanvas row-offcanvas-left">
	          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	            <ul class="list-group panel">
	                <div class="user-aside span3">
					    <div class="people">
							  <div class="basic-info">
							    <a class="avatar" href="{:U('Personal/index')}">
							      <img src="__ROOT__/{$head_photo}"/ alt="5">
							    </a>
							    <h3><a href="{:U('Personal/index')}">{$Think.session.username}</a></h3>
							    <ul class="clearfix" >
									
									<li id="sayhello">1</li>
									<br>
									<li><a href="__CONTROLLER__/edit_message">修改个人信息</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-18-拷贝.png"/></li>
								</ul>
							   
							  </div>
							  <br>
							  <div class="user-stats">
								  <ul class="clearfix" >
								    <li>
								      <p> 绑定邮箱：{$email_address}</p>
								    </li>
								    <li>
								    <i class="glyphicon glyphicon-list-alt"></i>
										<a href="news.html">看新闻</a>
								    </li>
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-pencil"></i>
								      <a href="{:U('Personal/write_article')}"><span>写文章</span></a>
								    </li>
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-heart"></i>
								      <a><span>收获喜欢</span></a>
								    </li>
								  </ul>
							</div>
						</div>
					</div>
	                
	              </ul>
	          </div>
	          <div class="col-xs-12 col-sm-9 content">
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>
	                <a href="./personal.html" style=""> 修改资料</a></h3>
	              </div>
	              <div class="panel-body" style="margin-bottom:10%;">
		            	<div class="content"> 

							 <form action="{:U('Personal/update')}" method="post" class="form_wd_23" enctype="multipart/form-data" class="form_wd_23">
							 	<div class="form-group">
							 		<label class="control-label">用户名</label>
							 		<input class="form-control" style="display:none" name="user_name"  value="{$Think.session.username}">
							 		<input class="form-control" value="{$Think.session.username}" disabled="true">
							 	<div class="form-group">
							 	</div>
							 	<div class="form-group">
							 		<label class="control-label">密码</label>
							 		<input class="form-control" type="password" name="user_pwd" value="{$client_info.user_pwd}">
							 	</div>
							 	<div class="form-group">

							 		<label class="control-label">邮箱</label>
							 		<input class="form-control" name="email_address" value="{$client_info.email_address}">
							 	</div>
							 	<div class="form-group">

							 		<label class="control-label">头像</label>
							 		<input class="dropify"  name="head_photo" data-default-file="__ROOT__/{$client_info.head_photo}" type="file">
							 	</div>
							 	<button class="btn btn-success waves-effect">提交</button>

								</form>
								<link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css">
							
						 
						</div>  
				  </div>

	              </div><!-- panel body -->
	            </div>
	        </div><!-- content -->
	      </div>
	    </div>


<script src="__PUBLIC__/js/dropify.min.js"></script>

 <script>$('.dropify').dropify();</script>

<include file="public/footer" />
<script type="text/javascript">
    function sayhello(){
    	var content=$('#sayhello');
    	var time=new Date();
    	var clock=time.getHours();
    	if(clock>6&&clock<=12){
    		content.html('上午好');
    	}else if(clock>12&&clock<=18){
    		content.html('下午好');
    	}else if(clock>18&&clock<=24){
    		content.html('晚上好');
    	}else{
    		console.log(clock);
    		content.html('凌晨好');
    	}
      }

      sayhello();
</script>