<include file="public/header" />
<div class="views-element-container feature_section3">

	<div class="section_title1_1">
		<h2 class="caps white">Portfolio Works </h2>
		<div class="linebg"></div>
		<p class="fontdefaulf">There are variations available majoritaey suffered alteration words which look believable <br /> dolor sit amet consectetuer adipiscing elit suspendisse justdo.</p>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<a href="/sites/default/files/2016-05/project1_1.jpg" class="cbp-caption cbp-lightbox" data-title="Color  by M.A Anderson">
					<div class="cbp-caption-defaultWrap">
						<img src="__PUBLIC__/img/highstand homepage/project1_1.jpg" class="img-responsive" alt="pro" typeof="Image" />
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Color</div>
								<div class="cbp-l-caption-desc">by M.A Anderson</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<a href="https://vimeo.com/161689529" class="cbp-caption cbp-lightbox" data-title="Fledglings  by M.A Anderson">
							<div class="cbp-caption-defaultWrap">
								<img src="__PUBLIC__/img/highstand homepage/04-big.jpg" class="img-responsive" alt="" typeof="Image" />
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Fledglings</div>
										<div class="cbp-l-caption-desc">by M.A Anderson</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="/sites/default/files/2016-05/08-big.jpg" class="cbp-caption cbp-lightbox" data-title="Packages  by M.A Anderson">
							<div class="cbp-caption-defaultWrap">
								<img src="__PUBLIC__/img/highstand homepage/08-big.jpg" class="img-responsive" alt="Portfolio" typeof="Image" />
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">Packages</div>
										<div class="cbp-l-caption-desc">by M.A Anderson</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<a href="/sites/default/files/2016-05/07-big.jpg" class="cbp-caption cbp-lightbox" data-title="LG dLite  by M.A Anderson">
							<div class="cbp-caption-defaultWrap">
								<img src="__PUBLIC__/img/highstand homepage/07-big.jpg" class="img-responsive"  alt="Portfolio" typeof="Image" />
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">LG dLite</div>
										<div class="cbp-l-caption-desc">by M.A Anderson</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="/sites/default/files/2016-05/05-big.jpg" class="cbp-caption cbp-lightbox" data-title="LG dLite  by M.A Anderson">
							<div class="cbp-caption-defaultWrap">
								<img src="__PUBLIC__/img/highstand homepage/05-big.jpg" class="img-responsive" alt="Portfolio" typeof="Image" />
							</div>
							<div class="cbp-caption-activeWrap">
								<div class="cbp-l-caption-alignLeft">
									<div class="cbp-l-caption-body">
										<div class="cbp-l-caption-title">LG dLite</div>
										<div class="cbp-l-caption-desc">by M.A Anderson</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				
			</div><!--col-md-6-->
		</div>
		
		<div class="row">
			<div class="col-md-3">
				<a href="/sites/default/files/2016-05/04-big.jpg" class="cbp-caption cbp-lightbox" data-title="LG dLite  by M.A Anderson">
					<div class="cbp-caption-defaultWrap">
						<img src="__PUBLIC__/img/highstand homepage/161689529.jpg" class="img-responsive" alt="Portfolio" typeof="Image" />
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">LG dLite</div>
								<div class="cbp-l-caption-desc">by M.A Anderson</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://vimeo.com/14368986" class="cbp-caption cbp-lightbox" data-title="LG dLite  by M.A Anderson">
					<div class="cbp-caption-defaultWrap">
						<img src="__PUBLIC__/img/highstand homepage/14368986.jpg" class="img-responsive" alt="" typeof="Image" />
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">LG dLite</div>
								<div class="cbp-l-caption-desc">by M.A Anderson</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.youtube.com/watch?v=FkTybqcX-Yo" class="cbp-caption cbp-lightbox" data-title="Civil War - Trailer 1  by M.A Anderson">
					<div class="cbp-caption-defaultWrap">
						<img src="__PUBLIC__/img/highstand homepage/FkTybqcX-Yo.jpg" class="img-responsive" alt="" typeof="Image" />
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Civil War - Trailer 1</div>
								<div class="cbp-l-caption-desc">by M.A Anderson</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.youtube.com/watch?v=dKrVegVI0Us" class="cbp-caption cbp-lightbox" data-title="Civil War - Trailer 2  by M.A Anderson">
					<div class="cbp-caption-defaultWrap">
						<img src="__PUBLIC__/img/highstand homepage/dKrVegVI0Us.jpg" class="img-responsive" alt="" typeof="Image" />
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Civil War - Trailer 2</div>
								<div class="cbp-l-caption-desc">by M.A Anderson</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>