<include file="public/header" />


<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/news_list.css"/>
<include file="public/headerstwo"/>
<div class="container-fluid clearfix toubei">
	<div class="container clearfix">
		<h1 class="clearfix" style="color: white;">博客帖子</h1>
		<div class="clearfix">
			<a href="index.html" class="clearfix">主页&nbsp;<i>&#47;</i></a>
		</div>
	</div>
</div>

<div class="products">
			
			<div class="main selected">
				<div class="container">
					<img src="__PUBLIC__/img/news_img/site-img225 (1).jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="{:U('Index/news_detail')}" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/site-img224.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-05.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="{:U('Index/news_detail','id=3')}" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-06.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-02.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-01.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
							
				<!--<div class="paging wrapper">		
					<div class="container fenye tab">
						<button type="button" class="btn btn-default check tab-item active">1</button>
						<button type="button" class="btn btn-default tab-item">2</button>
						<button type="button" class="btn btn-default tab-item">3</button>
						<button type="button" class="btn btn-default tab-item">next&gt;</button>
						<button type="button" class="btn btn-default tab-item">last&laquo;</button>
					</div>	
				</div>-->
			</div>
			
			<div class="main">
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-09.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-08.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-01.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-02.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-06.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-05.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
							
				<!--<div class="paging wrapper">		
					<div class="container fenye tab">
						<button type="button" class="btn btn-default check tab-item active">1</button>
						<button type="button" class="btn btn-default tab-item">2</button>
						<button type="button" class="btn btn-default tab-item">3</button>
						<button type="button" class="btn btn-default tab-item">next&gt;</button>
						<button type="button" class="btn btn-default tab-item">last&laquo;</button>
					</div>	
				</div>-->
			</div>
			
			
			<div class="main">
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-05.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-05.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				<div class="container">
					<img src="__PUBLIC__/img/news_img/blog-img-03.jpg" class="news_img"/>
					<div class="wenzhang">
						<p>
							<a href="" class="biaoti">许多桌面包</a>
						</p>
						<p>
							<a href="" class="time">5 JULY 2016</a>
							<i>by:</i>
							<span> admin</span>
							<i>in:</i> 
							<a href="" class="name">TRAVEL</a> 
							<i>note:</i> 
							<a href="" class="comments">0 COMMENTS</a>
						</p>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters,
							as opposed to using 'Content here, content here', making it look like readable English.
							Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
							and a search for 'lorem ipsum' will uncover many web sites still in their infancy over the years
							<a href="" class="more"> read more...</a>
						</p>
					</div>			
				</div>
				
				
							
				<!--<div class="paging wrapper">		
					<div class="container fenye tab">
						<button type="button" class="btn btn-default check tab-item active">1</button>
						<button type="button" class="btn btn-default tab-item">2</button>
						<button type="button" class="btn btn-default tab-item">3</button>
						<button type="button" class="btn btn-default tab-item">next&gt;</button>
						<button type="button" class="btn btn-default tab-item">last&laquo;</button>
					</div>	
				</div>-->
			</div>
			<div class="paging wrapper">		
				<div class="container fenye tab">
					<button type="button" class="btn tab-item active">1</button>
					<button type="button" class="btn tab-item">2</button>
					<button type="button" class="btn tab-item">3</button>
					<!--<button type="button" class="btn btn-default tab-item">next&gt;</button>-->
					<!--<button type="button" class="btn btn-default tab-item">last&laquo;</button>-->
				</div>	
			</div>
			
		</div>
		<script src="__PUBLIC__/js/news_list.js" type="text/javascript" charset="utf-8"></script>

<include file="public/footer" />