<include file="public/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/news_detail.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/iconfont.css"/>

<include file="public/headerstwo" />
		<div class="container-fluid page-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<h1>{$news_detail[0]['title']}</h1>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<h2><a href="{:U('Index/index')}">Home</a><i>/</i>{$news_detail[0]['title']}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container contain">
			<div class="row">
				<div class="col-sm-9">
					<div class="jumbotron">
				  		<img src="__PUBLIC__/img/news_img/blog-img-05.jpg" class="img-responsive"/>
				  		<h3><a href="">{$news_detail[0]['title']}</a></h3>
				  		<p class="p1">
				  			<a href="">{$news_detail[0]['date']}</a>
				  			<span>by:<span>{$news_detail[0]['author']}</span>in:<span>{$news_detail[0]['sort']}</span>note:<span>0 COMMENTS</span></span>
				  		</p>
				  		<p class="p2">{$news_detail[0]['content']}</p>
				  		<p class="p3"><a href="">read more...</a></p>
					</div>
					<div class="line1"></div>
					<div class="sharepost">
						<h5>Share this Post</h5>
						<ul>
							<li><a href=""><i class="iconfont icon-facebookf"></i></a></li>
							<li><a href=""><i class="iconfont icon-birdxiaoniao"></i></a></li>
							<li><a href=""><i class="iconfont icon-google"></i></a></li>
							<li><a href=""><i class="iconfont icon-delicious"></i></a></li>
							<li><a href=""><i class="iconfont icon-digg"></i></a></li>
							<li><a href=""><i class="iconfont icon-reddit"></i></a></li>
							<li><a href=""><i class="iconfont icon-linkin"></i></a></li>
							<li><a href=""><i class="iconfont icon-pinterest"></i></a></li>
						</ul>
					</div>
					<div class="about_author">
						<h5>About the Author</h5>
						<div>
							<p>{$news_detail[0]['name']}</p>
							<p>{$news_detail[0]['introduction']}</p>
						</div>
					</div>
					<div class="line2"></div>
					<div class="comments">
						<h5>Comments</h5>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="more_about">
						<h4 class="title">More About</h4>
						<ul>
							<li><a href="">&gt; Our History</a></li>
							<li><a href="">&gt; Professional Research</a></li>
							<li><a href="">&gt; Our Development</a></li>
							<li><a href="">&gt; Partnership With Us</a></li>
							<li><a href="">&gt; Company Carreer</a></li>
							<li><a href="">&gt; New Technology</a></li>
							<li><a href="">&gt; Client Testimonials</a></li>
						</ul>
					</div>
					<div class="recent_posts">
						<h4 class="title">Recent Posts</h4>
						<ul>
							<li>
								<a class="pull-left" href=""><img src="__PUBLIC__/img/news_img/site-img225 (1).jpg"/></a>
								<a href="">Many desktop packages</a>
								<span>July 5, 2016</span>
							</li>
							<li>
								<a class="pull-left" href=""><img src="__PUBLIC__/img/news_img/site-img224.jpg"/></a>
								<a href="">Many desktop packages</a>
								<span>July 5, 2016</span>
							</li>
							<li>
								<a class="pull-left" href=""><img src="__PUBLIC__/img/highstand homepage/2h1BK2H2Quk.jpg"/></a>
								<a href="">Many desktop packages</a>
								<span>July 5, 2016</span>
							</li>
						</ul>
					</div>
					<div class="happy_say">
						<h4 class="title">Happy Client Say's</h4>
						<img class="pull-left" src="__PUBLIC__/img/highstand homepage/people-img19_0.jpg"/>
						<strong>- Michle Siminson</strong>
						<p>Lorem Ipsum passage, and going through the cites of the word here classical literature passage discovere there undou btable source looks reasonable the generated charac eristic words.</p>
					</div>
					<div class="advertisements">
						<h4 class="title">Site Advertisements</h4>
						<ul>
							<li><a href=""><img src="__PUBLIC__/img/news_img/sample-ad-banner.jpg"/></a></li>
							<li><a href=""><img src="__PUBLIC__/img/news_img/sample-ad-banner.jpg"/></a></li>
						</ul>
						<ul>
							<li><a href=""><img src="__PUBLIC__/img/news_img/sample-ad-banner.jpg"/></a></li>
							<li><a href=""><img src="__PUBLIC__/img/news_img/sample-ad-banner.jpg"/></a></li>
						</ul>
					</div>
					<div class="text_widget">
						<h4 class="title">Text Widget</h4>
						<p>Going to use a passage of lorem lpsum you need to be sure there anything embarrassin hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend the repeat predefined chunks as thenecessary making this the first true generator.</p>
					</div>
				</div>
			</div>
		</div>
		
<include file="public/footer" />