

<!-- <include file="Public/header" /> -->
<!-- 个人中心页面 -->
<!-- <include file="Public/headerstwo"/> -->
<!-- /*
	*yxp
	*个人中心页面
 */ -->
<include file="public/header" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/personal.css"/>
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/site.min.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/news_take.css"/>
	    <script src="__PUBLIC__/js/site.min.js" type="text/javascript" charset="utf-8"></script>                                  
<include file="public/headerstwo"/>		

		<div class="container-fluid" style="margin-top:55px;">
    	<!--documents-->
	        <div class="row row-offcanvas row-offcanvas-left">
	          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	            <ul class="list-group panel">
	                <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>侧边栏</b></li>
	                <li class="list-group-item"><a href="index.html"><i class="glyphicon glyphicon-home"></i>主页 </a></li>

	                <li class="list-group-item"><a href="login.html"><i class="glyphicon glyphicon-certificate"></i>{$Think.session.username} </a></li>

	                <li class="list-group-item"><a href="login.html"><i class="glyphicon glyphicon-certificate"></i>登录 </a></li>

	                <li class="list-group-item"><a href="register.html"><i class="glyphicon glyphicon-th-list"></i>注册 </a></li>
	                <li class="list-group-item"><a href="news.html"><i class="glyphicon glyphicon-list-alt"></i>新闻</a></li>
	                <li class="list-group-item"><a href="contact_us.html"><i class="glyphicon glyphicon-envelope"></i>联系我们</a></li>
	                <li class="list-group-item"><a href="about_us.html"><i class="glyphicon glyphicon-heart"></i>关于我们</a></li>
	                
	                
	              </ul>
	          </div>
	          <div class="col-xs-12 col-sm-9 content">
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> 订阅的文章</h3>
	              </div>
	              <div class="panel-body">
		             <div class="row news_take">
		             	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 new_photo">
		             		<img src="__PUBLIC__/img/highstand homepage/people-img10.jpg" alt="">
		             	</div>
		             	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 new_detail">
		             		<h5>新闻标题</h5>
		             		<p>正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容
		             		正文内容正文内容正文内容正文内容正文内容正文内容正文内容</p>
		             	</div>
		             	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
		             		
		             	</div>
		             </div>				
	              </div><!-- panel body -->
	            </div>
	        </div><!-- content -->
	      </div>
	    </div>




<include file="public/footer" />
<script type="text/javascript">
    function sayhello(){
    	var content=$('#sayhello');
    	var time=new Date();
    	var clock=time.getHours();
    	if(clock>6&&clock<=12){
    		content.html('上午好');
    	}else if(clock>12&&clock<=18){
    		content.html('下午好');
    	}else if(clock>18&&clock<=24){
    		content.html('晚上好');
    	}else{
    		console.log(clock);
    		content.html('凌晨好');
    	}
      }

      sayhello();
</script>
