<!-- /*
	*yxp
	*个人中心页面
 */ -->
<include file="public/header" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/personal.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/site.min.css">
		
	    <script src="__PUBLIC__/js/site.min.js" type="text/javascript" charset="utf-8"></script>                                  
<include file="public/headerstwo"/>		

		<div class="container-fluid" style="margin-top:60px;">
    	<!--documents-->
	        <div class="row row-offcanvas row-offcanvas-left">
	          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
	          	<ul class="list-group panel" >
	                <div class="user-aside span3">
					    <div class="people">
							  <div class="basic-info">
							    <a class="avatar" href="{:U('Personal/index')}">
							      <img src="__ROOT__/{$head_photo}"/ alt="5">
							    </a>
							    <h3><a href="">{$Think.session.username}</a></h3>
							    <ul class="clearfix" >
									
									<li id="sayhello">1</li>
									<br>
									<li><a href="__CONTROLLER__/edit_message">修改个人信息</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-18-拷贝.png"/>
									</li>
								</ul>
							   
							  </div>
							  <br>
							  <div class="user-stats">
								  <ul class="clearfix" >
								    <li>
								      <p> 绑定邮箱：{$email_address}</p>
								    </li>
								    <li>
								    <i class="glyphicon glyphicon-list-alt"></i>
										<a href="news.html">看新闻</a>
								    </li>
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-pencil"></i>
								      <a href="{:U('Personal/write_article')}"><span>写文章</span></a>
								    </li>
								    <!-- <li>
								      <a><b>0</b><span>字数</span></a>
								    </li> -->
								    <br>
								    <li>
								    <i class="glyphicon glyphicon-heart"></i>
								      <a href="news.html"><span>收获喜欢</span></a>
								    </li>
								  </ul>
							</div>
						</div>
					</div>
	            </ul>
	          </div>
	          <!-- 右边 -->
	          <div class="col-xs-12 col-sm-9 content">
	            <div class="panel panel-default">
	              <div class="panel-heading">
	                <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> 个人中心</h3>
	              </div>
	              <div class="panel-body">
		               <div class="personal-bottom" style="margin-top:5px;margin-bottom:10%">
									<div class="row">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="product">
												<table border="0px" cellspacing="0px" cellpadding="0px">
													<tr>
														<td rowspan="2"><img src="__PUBLIC__/img/personal/椭圆-3.png"/></td>
														<td>&nbsp;订阅的文章：&nbsp;<span>{$take_num}</span></td>
													</tr>
													<tr>
														<td>&nbsp;<a href="{:U('Index/news_take')}">查看已订阅的文章</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-10-拷贝.png"/></td>												
													</tr>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="product">
												<table border="0px" cellspacing="0px" cellpadding="0px">
													<tr>
														<td rowspan="2"><img src="__PUBLIC__/img/personal/椭圆-4-拷贝.png"/></td>
														<td>&nbsp;我的浏览足迹：&nbsp;<span>{$take_num}</span></td>
													</tr>
													<tr>
														<td>&nbsp;<a href="{:U('Index/browse_footprin')}">查看浏览足迹</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-10-拷贝.png"/></td>												
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="product">
												<table border="0px" cellspacing="0px" cellpadding="0px">
													<tr>
														<td rowspan="2"><img src="__PUBLIC__/img/personal/矩形-20-拷贝-3.png"/></td>
														<td>&nbsp;我发布的文章：&nbsp;<span>{$num}</span></td>
													</tr>
													<tr>
														<td>&nbsp;<a href="{:U('Personal/published_article')}">查看我发布的文章</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-10-拷贝.png"/></td>												
													</tr>
												</table>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="product">
												<table border="0px" cellspacing="0px" cellpadding="0px">
													<tr>
														<td rowspan="2"><img src="__PUBLIC__/img/personal/矩形-20-拷贝.png"/></td>
														<td>&nbsp;喜欢的文章：&nbsp;<span>{$take_num}</span></td>
													</tr>
													<tr>
														<td>&nbsp;<a href="{:U('Index/favorite_article')}">查看喜欢的文章</a>&nbsp;<img src="__PUBLIC__/img/personal/矩形-10-拷贝.png"/></td>												
													</tr>
												</table>
											</div>
										</div>
									</div>
					   </div>

	              </div><!-- panel body -->
	            </div>
	        </div><!-- content -->
	      </div>
	    </div>




<include file="public/footer" />
<script type="text/javascript">
    function sayhello(){
    	var content=$('#sayhello');
    	var time=new Date();
    	var clock=time.getHours();
    	if(clock>6&&clock<=12){
    		content.html('上午好');
    	}else if(clock>12&&clock<=18){
    		content.html('下午好');
    	}else if(clock>18&&clock<=24){
    		content.html('晚上好');
    	}else{
    		console.log(clock);
    		content.html('凌晨好');
    	}
      }

      sayhello();
</script>
