<!-- /*
	*yxp
	*注册页面
 */ -->
<include file="public/header" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/register.css"/>
 
<include file="public/headerstwo"/>

		<div class="container">
			<div class="row login_header clearcss">
				
					<div class="col-lg-6 col-md-12">
						<h1>注册用户</h1>

					</div>
					<div class="col-lg-offset-4 col-lg-2 col-md-12">
		              	<a href="index.html" style="opacity:0.6;font-weight:normal;">首页 <i>/</i> </a> 
					</div>
		    </div>
		    
		</div>
		<div class="container  box">
			<div class="col-lg-offset-3 col-lg-6 col-md-12">

				<form class="form-signin" role="form" action="__MODULE__/Register/regNewMember" method="POST" enctype="application/x-www-form-urlencoded">
			        <div class="form-header">
			        	<!-- <h4>注用户册</h4> -->
			        	<h4>用户注册</h4>
			        	<!-- <p style="margin:0px;">不记得账号或密码?&nbsp;<a href="register.html">注册</a></p> -->

			        	<p style="margin-top:5px;">已经注册?&nbsp;<a href="login.html">登录</a></p>
			        	<p style="margin:0px;">不记得账号或密码?&nbsp;<a href="register.html">找回账户或密码</a></p>
			        </div>
			        <div class="message">
			        	<div id="warn" class="alert alert-warning alert-dismissable" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>请输入2-6个字符的用户名！
			        	</div>
			        	<div id="warn1" class="alert alert-warning alert-dismissable" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>密码内容不能低于6位！
			        	</div>
			        	<div id="checkBlank" class="alert alert-warning alert-dismissable" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>用户名和密码内容不能含有空格字符！
			        	</div>
			        	<div id="checkLogin" class="alert alert-warning alert-dismissable" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>用户已存在，请使用新的用户名进行注册！或者<a href="./login">直接登陆</a>
			        	</div>
			        </div>
			        <!-- 密码 -->
			        <div class="form-group">

			        	<!-- <p class="form-signin-heading">注册用户名或邮箱地址</p> -->

			        	<!-- <p class="form-signin-heading">输入用户名</p> -->
			        	<p class="form-signin-heading">用户名</p>

			          <div class="input-group">
			          	<!-- <input type="text" class="form-control" name="username" id="username" autocomplete="off> -->
			            <input type="text" class="form-control" name="username" id="username" autocomplete="off" placeholder="请输入用户名或邮箱">
			            <div id="div2" style="display:inline;color:red;"></div>
			          </div>

			        </div>
			
			        <div class="form-group">
			        	<p class="form-signin-heading">密码</p>
			          <div class="input-group">
			            <!-- <input type="text" class="form-control" name="password" id="password" autocomplete="off"> -->
			            <input type="password" class="form-control" name="password" id="password" autocomplete="off" placeholder="请输入6-18位的密码，建议含中英文">
			          </div>
			        </div>
					<div class="Btn">
			        <button class="btn btn-lg btn-primary btn-block" id="register" type="submit">注册</button>
					</div>
			     </form>
			</div>
    </div>
    <include file="public/footer" />
	<script>
		$(function(){
			var $register = $("#register");
			var $username = $("#username");
			var $wran = $("#warn");
			var $mail = $("#mail");
			var $close = $(".close");
			var $checkLogin=$('#checkLogin');
			var $checkBlank=$('#checkBlank');
			var $warn1 = $("#warn1");
			
			$register.click(function(){
				if ($username.val().length < 2|| $username.val().length > 6) {
					$wran.css("display","block");
					return false;
				}
				if ($('#password').val().length<6) {
					$warn1.css("display","block");
					return false;
				}
			});
		    
			
			$close.click(function(){
				$wran.css("display","none");
				$checkBlank.css("display","none");
				$checkLogin.css("display","none");
				$warn1.css("display","none");
				return false;
			});


			$username.change(function(){
			/*非空见擦*/
			if ($username.val().length > 0) {
					$wran.css("display","none");
				}	
			/* 字符串空格检查*/
			var str=$username.val();
			var Bnum=0;
			for(var i=0;i<str.length;i++){
				if(str.charCodeAt(i)==32){
					Bnum++;
				}
			}
			if(Bnum>0){
				$('#checkBlank').css('display','block');
			}else{
				$('#checkBlank').css('display','none');
			}

			/*ajax 查询用户知否已经注册*/
			var data='username='+$username.val();
			console.log(data);
			var path=window.location.pathname;
			var urlSlice=path.split('Home');
			url=urlSlice[0]+'Home/Register/userExistCheck';
			$.ajax({
				type:"GET",
				url:url,
				data:data,
				dataType:"json",
				success:function(data){
					console.log(data);
					data=data.toString();
					if(data!="error"){
					   $checkLogin.css('display','block');
					}else{
						 $checkLogin.css('display','none');
					}
				}
			});
			});

			$('#password').change(function(){
				/*非空见擦*/
				if ($('#password').val().length > 0) {
					$wran.css("display","none");
				}	
				/*检查空格*/
				var str=$('#password').val();
				var Bnum=0;
				for(var i=0;i<str.length;i++){
					if(str.charCodeAt(i)==32){
					Bnum++;
					}
				}
				if(Bnum>0){
				$('#checkBlank').css('display','block');
				}else{
				$('#checkBlank').css('display','none');
				}	
			});

		})
		</script>			
		<script src="__PUBLIC__/js/register.js" type="text/javascript" charset="utf-8"></script>
