<include file="public/header" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/register.css"/>
		<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/transform.css"/> -->
		
		<!-- <script src="__PUBLIC__/js/register.js" type="text/javascript" charset="utf-8"></script> -->
	
		<div class="container">
			<div class="row login_header clearcss">
				
					<div class="col-lg-6 col-md-12">
						<h1>重置密码</h1>
					</div>
					<div class="col-lg-offset-4 col-lg-2 col-md-12">
		              	<a href="index.html" style="opacity:0.6;font-weight:normal;">首页 <i>/</i> </a> 
					</div>
		    </div>
		    
		</div>
		<div class="container  box">
			<div class="col-lg-offset-3 col-lg-6 col-md-12">
				<form class="form-signin" role="form" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
			        <div class="form-header">
			        	<h4>重置密码</h4>
			        	<p style="margin:0px;">不记得账号或密码?&nbsp;<a href="register.html">注册</a></p>
			        	<p style="margin-top:5px;">已经注册?&nbsp;<a href="login.html">登录</a></p>
			        </div>
			        <div class="message">
			        	<div id="warn" class="alert alert-warning alert-dismissable" style="display: none;"> 
			        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			        		<strong>警告！&nbsp;&nbsp;</strong>内容不能为空！
			        	</div>
			        </div>
			        <div class="form-group">
			        	<p class="form-signin-heading">用户名或邮箱地址</p>
			          <div class="input-group">
			            <input type="text" class="form-control" name="username" id="username" autocomplete="off">
			          </div>
			        </div>
					<div class="Btn">
						<p>密码重置说明将会发送到你被注册的邮箱地址</p>
			        <button class="btn btn-lg btn-primary btn-block" id="register" type="submit">提交</button>
					</div>
			     </form>
			</div>
    </div>
	<script>
		$(function(){
			var $register = $("#register");
			var $username = $("#username");
			var $wran = $("#warn");
			var $close = $(".close");
			
			$register.click(function(){
				if ($username.val().length === 0) {
					$wran.css("display","block");
					return false;
				}
			});
			
			$close.click(function(){
				$wran.css("display","none");
				return false;
			})
		})
	</script>
<include file="public/footer" />