 <include file='Public:header' /> 

 <include file='Public:menu' /> 

 <form action="{:U('News/sort_edit')}" method="post" class="form_wd_23" enctype="multipart/form-data">
 	<div>
 		<label class="control-label">sort:</label>
 		<input class="form-control" name="e_name" value="{$new_info.e_name}">
 		<label class="control-label">分类名:</label>
 		<input class="form-control" name="sort_name" value="{$new_info.sort_name}">
 		<button class="btn btn-success" style="width:100%;margin-top: 20px;">修改</button>
 		<input type="hidden" name="id" id="" value="{$new_info.id}" />
 	</div>
 

 	</form>
 <link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css"> 
 <include file='Public:footer' /> 
 <script src="__PUBLIC__/js/dropify.min.js"></script>
 <script>$('.dropify').dropify();</script>
