 <include file='Public:header' /> 

 <include file='Public:menu' /> 

 <form action="{:U('News/sort_add')}" method="post" class="form_wd_23" enctype="multipart/form-data">
 	<div>
 		<label class="control-label">sort:</label>
 		<input class="form-control" name="sort_ename">
 		<label class="control-label">分类名:</label>
 		<input class="form-control" name="sort_name">
 		<button class="btn btn-success" style="width:100%;margin-top: 20px;">添加</button>
 	</div>
 

 	</form>
 <link rel="stylesheet" href="__PUBLIC__/css/admin/dropify.min.css"> 
 <include file='Public:footer' /> 
 <script src="__PUBLIC__/js/dropify.min.js"></script>

 <script>$('.dropify').dropify();</script>
