@charset 'utf-8';
 body{
  font-family: "微软雅黑"!important;
 }
  .modal-open {
  overflow:  inherit !important;
  padding-right:0px!important
}

 .navbar-default{
  border-color: transparent!important;
  font-weight: 600!important;
 }
 .gaise{
  background-color:#272727!important;
 }
 .navbar{
  border-radius:0!important ;
  width: 100px!!important;
 }
.logo {
  height: 40px;
  margin-top: -10px;
  transition: all 0.5s ease;
}
.logo:hover {
  height: 45px;
}
.top-nav .navbar-default{
  background-color:red!important;
  color: white;
	
	
}
.xian{
  border-bottom: 1px solid white!important;
}


.color>li>a{
   color:white !important;
}
.color>li>a:hover{
   color: goldenrod!important;
}

.top-nav .seach-input {
  width: 80px;
}

#back{
   background: #212121 url(../../img/lunbo/footer-bg.jpg) no-repeat center bottom;
   color:white;

}
#back img{
  vertical-align: middle;
   padding-right:10px; 
}

.foot-nav .container-fluid {
   padding: 10px 0;

}

.foot-nav .container-fluid li {
   display: inline-block;
   padding: 8px 4px ;
   cursor: pointer;

}
.foot-nav .container-fluid li h4{
   color: white!important;
   /*text-indent: 20px;*/
}
.foot-nav .container-fluid li a {
   color: gainsboro!important;
   padding: 0 8px;
}
.foot-nav .container-fluid li a span{
   color: gainsboro!important;
}
.foot-nav .container-fluid li a:hover span{
   color: white!important;
  
}
.foot-nav .foot-text {
	height: 60px;
	background-color:rgb(17,17,17);
	line-height: 60px;
 
}
.foot-nav .foot-text p{
	text-align: center;
	line-height: 60px;
}

.row{
	 width: 100%!important;
	 margin-right:0px!important; 
	 margin-left:0px!important
}
.size{
	width: 80px;
	display:inline-block;
	height:40px;
	
}
.size>img{
    width:100%;
    height: 100%;	
}
.foot-nav .container-fluid li a{
	padding: 0px;
}
.foot-nav .container-fluid li a:hover{
	padding: 0px;
	text-decoration: underline;
}
.sea{
	font-size: 20px;
}
.sea-body{
	min-height: 300px;
	height:100%;
	width: 100%;
}
