*{
 	margin: 0px;
 	padding: 0px;
 }
 img{
 	vertical-align: middle;
 }
 body{
 	background-color:gainsboro;
 	}
.body{
	max-width: 1350px;
	margin:0 auto;	
} 
.header{		
	height: 30px;
	background-color: #323232;
	width: 100%;
	min-width: 400px;		
}
.header>ul{
	z-index: 990;	
}	
.header>span{	
	margin-top:5px ;
	margin-right: 20px ;
	border:1px solid black ;
	background-color: yellow;
	position: fixed;
	right: 2px;
	z-index: 999;
	transition: all 0.3s linear; 
}
.header>span>p{
	width: 12px;
	border:1px solid black;
	margin:3px 3px ;
}
/*第二栏*/
.sosuo{	
	margin: 2px auto;
	width: 100%;
	margin-bottom: 2%;
	background-color: white;
}
.logo{
	width:84px;
	margin: 0px auto;
}
#btnf{
	background-color: #323232;	
}	
#btnf:hover{
	background-color: #C5F5FE;
}	
.shopcar{
	margin-left:23%;
	border: none;
	background-color: transparent;
	outline: none;
}				
@media only screen and (min-width:751px ) {			
		.header>ul{
			    display: block;
				transition: all 0.3s linear;
				opacity: 1;			
			}
		.header>span{
			    display: none;
			    opacity: 0;
			    transition: all 0.3s linear; 
			}
		.header>ul{
				color:#ffffff;
				line-height: 30px;
				width:1120px;
				margin: auto;
				text-align: center;			
		}
		.header>ul>li{
				display: inline-block;
				list-style-type: none;
				padding: 0px 10px;
				font-size: 12px;
		     	font-family: "黑体";
		     	float: left;		
		}
		.header>ul>li>a{
			    color: #FFFFFF;
			    text-decoration: none;
			    font-size: 12px;
		     	font-family: "黑体";
		}
		.header>ul>li>p{
				height: 12px;
				border: 1px solid #FFFFFF;
				margin-top:9px ;		
		}
		.header>ul>li:nth-child(1){
				margin-left:35px;
		}	
		.header>ul>li:nth-child(7){
			margin-left:220px;
		}		
	 }
@media only screen and (max-width:751px ) {
		.header>ul{
				position: absolute;
				width: 100%;
				top:-202px;
				transition: all 0.3s linear; 			  
		}	
		.header>span{
				display: block;
				opacity: 1;
				transition: all 0.3s linear; 			
		}
		.header>ul{
				background-color: #323232;
				width: 100%;
		}
		.header>ul>li{
				float: none;
				color: white;
				z-index: 999;		
		}
		.header>ul>li>a{
				color:white;
				font-weight: 800;
		}
		
		.header>ul>li:nth-child(3){
				display: none;
		}
		.header>ul>li:nth-child(1){
				display: none;
			
		}
		.header>span:hover {
				background-color: yellowgreen;
			
		}
		.header>ul>li:hover{
				background-color: white;
		}
		.header>ul>li:hover a{
				color:#323232 ;
		}				
	}
.body{
	width: 100%;
}
.footer{
	background-color: #323232;
	width: 100%;
	color: white;
	padding-bottom: 34px;
	border: 1px solid red;
}
.footer a{
	color: white;
	text-decoration: none;
}
.footer dl{
	float: left;
	margin-left: 125px;
	margin-top: 30px;
}
.footer dl dt{
	margin-bottom: 15px;
}
.footer dl dd{
	margin-bottom: 6px;
}
.footer .addess{
	text-align: center;	
}
.content{
	width: 90%;
}
.personal-left{
	background-color: white;
	padding: 5% 0px;
}
.personal-left > p {
	text-indent: 60px;
}
.personal-left > p > a{
	color: grey;
	text-decoration: none;
}
.personal-left > p > b >a{
	color: black;
}
.personal-right{
	width: 100%;
	background-color: white;
	margin-bottom: 1%;
}
.personal-right .kitty{
	width: 100%;
	height: 210px;
}
.personal-right .kitty > img{
	margin: 5%;
	float: left;
}
.personal-right .kitty > ul{
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 20%;
	margin-left: 5%;
}
.personal-right .kitty > ul > li:nth-child(3){
	height: 35px;
	line-height: 35px;
}
.personal-right .kitty > ul > li a{
	text-decoration: none;
	color: black;
}
.personal-right .message{
	width: 100%;
}
.personal-right .message > ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 20%;
}
.personal-bottom{
	background-color: white;
}
.personal-bottom .product{
	padding: 10%;
}
.personal-bottom .product table{
	width: 100%;
}
.personal-bottom .product span{
	color: orange;
}
.personal-bottom .product a{
	text-decoration: none;
	color: #666666;
}
.kitty > img:hover{
	transform: rotateX(45deg);
}
