/*
	*yxp
	*登录/注册页面样式
 */
body,h1,h2,h4,a,p{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	
}
h1{
	font-size:36px;
	font-weight: normal;
}
.container{
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 50px;
}
.row.clearcss{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.login_header{
	width: 100%;
	height: auto;
	background:#272727;
	padding-top: 5% !important;
}
.login_header h1{
	display: inline-block;
	color: #F7F7F7;
	margin-left: 10%;
}
.login_header a{
	display: inline-block;
	color: #F7F7F7;
	margin-right: 10%;
	text-decoration: none;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box{
	padding:0px 5%;
	margin-bottom:10%;
}
.form-signin{
	border: 1px solid #ececec;
	border-radius: 5px;
	width: 100%;
	margin-top: 4%;
	padding: 1px;
}
.form-header{
	width: 100%;
	height: 122px;
	background-color: #f3f3f3;
}
.form-header h2{
	padding-top:44px;
	text-align: center;
	font-weight: 500;
}
.form-header a{
	color:  #2ecc71;
	text-decoration: none;
}
.form-group{
	margin:30px 10% 0px;
}
.form-group > P{
	margin-bottom: 10px;
	color: #727272;
	word-spacing: 2pt;
}
.Btn{
	margin:20px 10% 8%;
}
.Btn > p{
	margin-top:5px;
	text-align:center;
	word-spacing: 2pt;
}
.Btn > p > a{
	text-decoration: none;
	display: inline-block;
	color: #2ecc71 !important;

}
.btn-lg{
	background-color: #2ecc71;
	border: none;
	
}
 .btn-lg:hover,.btn-lg:active{
 	background-color: #2ecc71;
 }
.input-group{
	
	width: 100%;
}
.form-control{
	border-radius: 5px !important;
	height: 45px;
}
