<include file='Public:header' /> 

<include file='Public:menu' /> 
<!-- ssw 用户反馈列表页面 -->
<link rel="stylesheet" href="__PUBLIC__/css/home/contact_us.css"> 
<div class="row">
	<div class="col-lg-12 col-md-6">
		<div class="content-box">
			<div class="head clearfix">
				<h4 class="content-title text-color pull-left">
					<div class="btn-group pull-right m_t_10">
						<button onclick="location.href='{:U('Client/feedback_list')}'" class="btn btn-success raise waves-effect"><i class="zmdi zmdi-mail-reply"></i></button>
						<button onclick="location.href='{:U('Client/feedback_del',array('fb_id'=>$fb_i[fb_id]))}'" class="btn btn-danger raise waves-effect"><i class="zmdi zmdi-delete"></i></button>
					</div>
					第{$fb_i.fb_id}条反馈信息
				</h4>
			</div>
			<div class="content">
				<div class="text-center m-b-40">
					<h1 class="m-t-5">{$fb_i.fb_theme}</h1>
					<small class="text-muted"><i class="zmdi zmdi-time f-s-14 m-r-5"></i>{$fb_i.fb_time}</small>
					<span class="text-muted p_l_20">{$fb_i.fb_name}</span>
					<span class="text-muted p_l_20">{$fb_i.fb_email}</span>
				</div>
				<div class="f-s-16">
					<p class="p_suolue">{$fb_i.fb_msg}</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

<include file='Public:footer' /> 