<include file='Public:header' /> 

<include file='Public:menu' /> 
<!-- ssw 用户反馈列表页面 -->

<div class="content-box o-hidden">
	<!-- <div class="head info-bg clearfix ui-sortable-handle">
		<h5 class="content-title pull-left">Draggable panel</h5>
		<div class="functions-btns pull-right">
			<a class="refresh-btn" href="#"><i class="zmdi zmdi-refresh"></i></a>
			<a class="fullscreen-btn" href="#"><i class="zmdi zmdi-fullscreen"></i></a>
			<a class="close-btn" href="#"><i class="zmdi zmdi-close"></i></a>
		</div>
	</div> -->

<div class="content">
<div class="head" style="padding-left: 0px;">
	<h3>主题：这里是反馈信息的主题</h3>
	<div class="functions-btns pull-right">
			<a class="refresh-btn" href="#"><i class="zmdi zmdi-refresh"></i></a>
			<a class="fullscreen-btn" href="#"><i class="zmdi zmdi-fullscreen"></i></a>
			<a class="close-btn" href="#"><i class="zmdi zmdi-close"></i></a>
		</div>
</div>
	
	<div class="f-w-500">
		<span class="info-color text-uppercase">姓名：tom</span>&nbsp;&nbsp;邮箱：textadmin@email.com
	</div>
	<p>
		这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。这里是内容描述。
	</p>

	<div class="activity-item-footer m-t-20 f-w-500">
		<!-- <span class="m-r-10">
			<i class="zmdi zmdi-comment-text info-color f-s-18 m-r-5"></i>12 comments
		</span>
		<span>
			<i class="zmdi zmdi-favorite danger-color f-s-18 m-r-5"></i>33 likes
		</span> -->
		<button onclick="location.href='/yuanku/index.php/Admin/System/.html'" type="button" class="btn btn-danger waves-effect">
			<i class="zmdi zmdi-delete"></i>
		</button>
	</div>
</div>


<include file='Public:footer' /> 