
<include file="public/header" />
<!-- 这里写自己页面的样式 -->
<!--HOME css-->
<script src="__PUBLIC__/js/headerchange.js"></script>
<script src="__PUBLIC__/js/change.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="__PUBLIC__/css/home/sport_nba.css" />

<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/foucsbox.css"/>-->

<!--0-->
<include file="public/headerstwo"/>
<br><br><br>
<!--轮播-->
 <!-- 焦点图 -->
    <div class="area area-focus">        
        <div class="layout">             
            <div class="slide-wrap" style="height:430px;">
                <ol id="headFocusCont" bosszone="SY_JDT" style="width:1736px;>
                    <div class="bs-example" data-example-id="carousel-with-captions">
	                    <div id="carousel-example-captions" class="carousel slide" data-ride="carousel" style="height:400px;position: relative;">
						    <ol class="carousel-indicators" style="left: 600px; width:60px;height:auto;text-align: center;">
						        <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
						        <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
						        <li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
						    </ol>
	                <div class="carousel-inner" role="listbox">
	                <div class="item">
	        	        <li class="col-2">
                            <div area_id="indexfoucsg_229" area_type="pic-text" area_num="1" area_img="1张图:1240X400;2张图:615X400;3张图:410X400" source="http://www.qq.com/source1?site=" mode="manual" class="page-wrap">
	                            <a target="_blank" href="http://kbs.sports.qq.com/kbsweb/game.htm?mid=100000:1468640" title="正视频直播篮网vs绿军 书豪托马斯抢全明星" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139622220.jpg" alt="正视频直播篮网vs绿军 书豪托马斯抢全明星" style="width: 100%;height: auto;"></div>
	                                   
	                                <p>正视频直播篮网vs绿军 书豪托马斯抢全明星</p>
	                            </a>
	                            <a target="_blank" href="http://sports.qq.com/a/20161026/015765.htm" title="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139628559.jpg" alt="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" style="width: 100%;height: auto;"></div>              
	                                <p>10:00视频直播火箭vs湖人 哈登欲带队迎开门红</p>
	                            </a>
                            </div>
                        </li>		          
	                </div>
			        <div class="item">
			        	<li class="col-2">
		                    <div area_id="indexfoucsg_229" area_type="pic-text" area_num="1" area_img="1张图:1240X400;2张图:615X400;3张图:410X400" source="http://www.qq.com/source1?site=" mode="manual" class="page-wrap">
	                            <a target="_blank" href="http://china.nba.com/" title="正视频直播篮网vs绿军 书豪托马斯抢全明星" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139666522.jpg" alt="正视频直播篮网vs绿军 书豪托马斯抢全明星" style="width: 100%;height: auto;"></div>
	                                   
	                                <p>奇才99-老鹰114 比尔战斧暴扣难救主霍华德两双</p>
	                            </a>
	                            <a target="_blank" href="http://sports.qq.com/a/20161026/015765.htm" title="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139628559.jpg" alt="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" style="width: 100%;height: auto;"></div>              
	                                <p>10:00视频直播火箭vs湖人 哈登欲带队迎开门红</p>
	                            </a>
		                    </div>
		                </li>	
			        </div>
	                <div class="item active">
	        	        <li class="col-2">
	                        <div area_id="indexfoucsg_229" area_type="pic-text" area_num="1" area_img="1张图:1240X400;2张图:615X400;3张图:410X400" source="http://www.qq.com/source1?site=" mode="manual" class="page-wrap">
	                            <a target="_blank" href="http://china.nba.com/" title="正视频直播篮网vs绿军 书豪托马斯抢全明星" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139663566.jpg" alt="正视频直播篮网vs绿军 书豪托马斯抢全明星" style="width: 100%;height: auto;"></div>
	                                   
	                                <p>格里芬集锦，暴虐篮筐狂砍27分13板！</p>
	                            </a>
	                            <a target="_blank" href="http://china.nba.com/" title="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" class="pic">
	                                <div>
	                                    <img src="__PUBLIC__/img/basketball/139663273.jpg" alt="10:00视频直播火箭vs湖人 哈登欲带队迎开门红" style="width: 100%;height: auto;"></div>              
	                                <p>伦纳德：死亡缠绕，再现反击暴扣一条龙！</p>
	                            </a>
	                        </div>
                        </li>		
	                </div>
	                </div>
					    <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev" style="position: absolute;left: -50px;">
					        <span class="glyphicon glyphicon-chevron-left " aria-hidden="true"></span>
					        <span class="sr-only">Previous</span>
					    </a>
					    <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next" style="position: absolute;right: 450px;">
					        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					        <span class="sr-only">Next</span>
					    </a>
	                </div>
                    </div>
                </ol>
            </div>
        </div>
    </div>

  
    <!-- 热门视频 -->
    <div class="js-lazy-area ele-video" id="video1"  style="height:418px;" data-lazy-loadead="yes">

        <!-- 热门视频 -->
        <div class="area area-hotv">
            <div class="layout">
                <div class="block-title">
                    <h2 class="title">热门视频</h2>
                    <div class="title-sub" bosszone="SY_Vlink">
                        <div class="more" bosszone="SY_Vmore">
                            <a class="arrow" href="http://sports.qq.com/nbavideo/query/">更多视频</a>
                        </div>
                        <a href="http://sports.qq.com/kbsweb/#nba">直播大厅</a>
                        &nbsp;&nbsp;/&nbsp;&nbsp;
                        <a href="http://sports.qq.com/nbavideo/">视频首页</a>
                    </div>
                </div>
                <div class="block-body cf" bosszone="SY_Vlist">
                    <div class="sponsor">
                        <a href="http://sports.qq.com/nbavideo/nbacity/" target="_blank">
                            <img src="__PUBLIC__/img/basketball/139446335.jpg" width="400" height="50"></a>
                        <!--[if !IE]>
                        |xGv00|975b8a4b7d3cb1cb8a28d9bbfe45cad2
                        <![endif]--> 
                    </div>
                    <!--tpl-->
                    <div area_id="hotvideoa_225" area_type="pic-text" area_num="1" area_img="400x225" source="http://www.qq.com/source1?site=" mode="manual" class="col-left cf">
                        <div class="pic-item pic-item-large">
                            <a target="_blank" href="http://v.qq.com/x/page/n0022ian3n2.html" title="逆天三分绝杀魔术！詹姆斯09年季后赛50大进球">
                                <img src="__PUBLIC__/img/basketball/139446335.jpg" alt="逆天三分绝杀魔术！詹姆斯09年季后赛50大进球">
                                <p>
                                    <span>逆天三分绝杀魔术！詹姆斯09年季后赛50大进球</span>
                                </p>
                                <div class="is-video-big"></div>
                            </a>
                        </div>
                    </div>
                    <!--[if !IE]>
                    |xGv00|4bd96bcc043536ab813de2c8f4f54f6c
                    <![endif]-->
                    <!--tpl-->
                    <div area_id="hotvideoa_226" area_type="pic-text" area_num="6" area_img="240x135" source="http://www.qq.com/source1?site=" mode="manual" class="col-right cf">
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/s0022rvjlmv.html" title="易建联NBA征程全景纪录片">
                                <img src="__PUBLIC__/img/basketball/j0022l4if29_160_90_3.jpg" alt="易建联NBA征程全景纪录片">
                                <p>
                                    <span>易建联NBA征程全景纪录片</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/r00226f784i.html" title="库里新赛季唯美宣传片 下季志在冲顶">
                                <img src="__PUBLIC__/img/basketball/c0020pnf4ik_160_90_3.jpg" alt="库里新赛季唯美宣传片 下季志在冲顶">
                                <p>
                                    <span>库里新赛季唯美宣传片 下季志在冲顶</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/l0022254f60.html" title="巴特勒16赛季凶悍防守 血帽詹姆斯">
                                <img src="__PUBLIC__/img/basketball/139310475.jpg" alt="巴特勒16赛季凶悍防守 血帽詹姆斯">
                                <p>
                                    <span>巴特勒16赛季凶悍防守 血帽詹姆斯</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/g0022xrtccs.html" title="湖人当家后卫拉塞尔的成长蜕变之路">
                                <img src="__PUBLIC__/img/basketball/t013c7b98b6ed96477d.jpg" alt="湖人当家后卫拉塞尔的成长蜕变之路">
                                <p>
                                    <span>湖人当家后卫拉塞尔的成长蜕变之路</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/f0022e3apnt.html" title="姚明09赛季集锦 无视拉拽神奇投篮">
                                <img src="__PUBLIC__/img/basketball/t01cc0a65d0ac2f0754.gif" alt="姚明09赛季集锦 无视拉拽神奇投篮">
                                <p>
                                    <span>姚明09赛季集锦 无视拉拽神奇投篮</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                        <div class="pic-item">
                            <a target="_blank" href="http://v.qq.com/x/page/d0022c2vtkh.html" title="韦少季前赛个人精彩表现合集">
                                <img src="__PUBLIC__/img/basketball/t01c80ebf852f7ccd66.gif" alt="韦少季前赛个人精彩表现合集">
                                <p>
                                    <span>韦少季前赛个人精彩表现合集</span>
                                </p>
                                <div class="is-video"></div>
                            </a>
                        </div>
                    </div>
                     </div>
            </div>
        </div>
         </div>

   
    <!-- 最佳球员 -->
    <div class="js-lazy-area ele-star"   style="height:500px;" data-lazy-loadead="yes">

        <!-- 最佳球员 -->
        <div class="area area-best">
            <div class="layout">
                <div class="block-title">
                    <h2 class="title">最佳球员</h2>
                    <div class="title-sub">
                        <ul class="title-tab cf" id="bestPlayerTab" bosszone="SY_SDslt">
                            <li class="current">今日最佳</li>
                            <li>本赛季</li>
                        </ul>
                    </div>
                </div>
                <div class="block-body" id="bestPlayerCont" bosszone="SY_SDclk">
                    <ul class="cf" data-loaded="true" style="display: block;">
                        <li>
                            <a class="player-1" href="http://nba.stats.qq.com/player/jump.htm?id=jonas_valanciunas">
                                <div class="info">
                                    <div class="tag">得分王</div>
                                    <div class="score">21</div> <i class="underline"></i>
                                    <div class="name">乔纳斯-瓦兰西尤纳斯</div>
                                    <div class="desc">中锋 /  猛龙</div>
                                </div>
                                <div class="photo">
                                    <img onerror="this.onerror=null; this.src=bestPlayerReplaceImg.big;" src="__PUBLIC__/img/basketball/202685.png" alt="220x350" style="height: 160px;"></div>
                            </a>
                            <a class="player-2" href="http://nba.stats.qq.com/player/jump.htm?id=anthony_davis">
                                <div class="rank">2</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/203076.png" alt="132x132"></div>
                                <div class="name">
                                    <p>安东尼-戴维斯</p>
                                    <span>前锋-中锋 /  鹈鹕</span>
                                </div>
                                <div class="score">20</div>
                            </a>
                            <a class="player-3" href="http://nba.stats.qq.com/player/jump.htm?id=myles_turner">
                                <div class="rank">3</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/1626167.png" alt="132x132"></div>
                                <div class="name">
                                    <p>迈勒斯-特纳</p>
                                    <span>前锋-中锋 /  步行者</span>
                                </div>
                                <div class="score">20</div>
                            </a>
                        </li>
                        <li>
                            <a class="player-1" href="http://nba.stats.qq.com/player/jump.htm?id=myles_turner">
                                <div class="info">
                                    <div class="tag">篮板王</div>
                                    <div class="score">13</div> <i class="underline"></i>
                                    <div class="name">迈勒斯-特纳</div>
                                    <div class="desc">前锋-中锋 /  步行者</div>
                                </div>
                                <div class="photo">
                                    <img onerror="this.onerror=null; this.src=bestPlayerReplaceImg.big;" src="__PUBLIC__/img/basketball/1626167.png" alt="220x350" style="height: 160px;"></div>
                            </a>
                            <a class="player-2" href="http://nba.stats.qq.com/player/jump.htm?id=hassan_whiteside">
                                <div class="rank">2</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/202355.png" alt="132x132"></div>
                                <div class="name">
                                    <p>哈桑-怀特塞德</p>
                                    <span>中锋 /  热火</span>
                                </div>
                                <div class="score">11</div>
                            </a>
                            <a class="player-3" href="http://nba.stats.qq.com/player/jump.htm?id=nikola_vucevic">
                                <div class="rank">3</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/202696.png" alt="132x132"></div>
                                <div class="name">
                                    <p>尼克拉-武切维奇</p>
                                    <span>中锋 /  魔术</span>
                                </div>
                                <div class="score">11</div>
                            </a>
                        </li>
                        <li>
                            <a class="player-1" href="http://nba.stats.qq.com/player/jump.htm?id=isaiah_thomas">
                                <div class="info">
                                    <div class="tag">助攻王</div>
                                    <div class="score">7</div>
                                    <i class="underline"></i>
                                    <div class="name">以赛亚-托马斯</div>
                                    <div class="desc">后卫 /  凯尔特人</div>
                                </div>
                                <div class="photo">
                                    <img onerror="this.onerror=null; this.src=bestPlayerReplaceImg.big;" src="__PUBLIC__/img/basketball/202738.png" alt="220x350" style="height: 160px;"></div>
                            </a>
                            <a class="player-2" href="http://nba.stats.qq.com/player/jump.htm?id=monta_ellis">
                                <div class="rank">2</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/101145.png" alt="132x132"></div>
                                <div class="name">
                                    <p>蒙塔-埃利斯</p>
                                    <span>后卫 /  步行者</span>
                                </div>
                                <div class="score">5</div>
                            </a>
                            <a class="player-3" href="http://nba.stats.qq.com/player/jump.htm?id=avery_bradley">
                                <div class="rank">3</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/202340.png" alt="132x132"></div>
                                <div class="name">
                                    <p>埃弗里-布拉德利</p>
                                    <span>后卫 /  凯尔特人</span>
                                </div>
                                <div class="score">4</div>
                            </a>
                        </li>
                        <li>
                            <a class="player-1" href="http://nba.stats.qq.com/player/jump.htm?id=al_horford">
                                <div class="info">
                                    <div class="tag">盖帽王</div>
                                    <div class="score">4</div>
                                    <i class="underline"></i>
                                    <div class="name">艾尔-霍福德</div>
                                    <div class="desc">中锋-前锋 /  凯尔特人</div>
                                </div>
                                <div class="photo">
                                    <img onerror="this.onerror=null; this.src=bestPlayerReplaceImg.big;" src="__PUBLIC__/img/basketball/201143.png" alt="220x350" style="height: 160px;"></div>
                            </a>
                            <a class="player-2" href="http://nba.stats.qq.com/player/jump.htm?id=hassan_whiteside">
                                <div class="rank">2</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/202355.png" alt="132x132"></div>
                                <div class="name">
                                    <p>哈桑-怀特塞德</p>
                                    <span>中锋 /  热火</span>
                                </div>
                                <div class="score">4</div>
                            </a>
                            <a class="player-3" href="http://nba.stats.qq.com/player/jump.htm?id=myles_turner">
                                <div class="rank">3</div>
                                <div class="photo">
                                    <img  src="__PUBLIC__/img/basketball/1626167.png" alt="132x132"></div>
                                <div class="name">
                                    <p>迈勒斯-特纳</p>
                                    <span>前锋-中锋 /  步行者</span>
                                </div>
                                <div class="score">3</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="cf" data-loaded="false">
                    
                <li>
                        <div class="player-1">
                            <div class="info">
                                <div class="tag">得分王</div>
                                <div class="score">29.3</div>
                                <i class="underline"></i>
                                <div class="name">斯蒂芬-库里</div>
                                <div class="desc">后卫 / 金州 勇士</div>
                            </div>
                            <div class="photo">
                                <img src="http://img1.gtimg.com/sports/pics/hv1/206/181/1878/122163311.jpg" alt="160x235"></div>
                        </div>
                        <div class="player-2">
                            <div class="rank">2</div>
                            <div class="photo">
                                <img src="http://img1.gtimg.com/sports/pics/hv1/68/182/1878/122163428.png" alt="50x50"></div>
                            <div class="name">
                                <p>哈里森-巴恩斯</p>
                                <span>前锋 / 勇士</span>
                            </div>
                            <div class="score">24.3</div>
                        </div>
                        <div class="player-3">
                            <div class="rank">3</div>
                            <div class="photo">
                                <img src="http://img1.gtimg.com/sports/pics/hv1/68/182/1878/122163428.png" alt="50x50"></div>
                            <div class="name">
                                <p>哈里森-巴恩斯</p>
                                <span>前锋 / 勇士</span>
                            </div>
                            <div class="score">24.3</div>
                        </div>
                        <a class="more" href="#">
                            更多
                            <span>&gt;&gt;</span>
                        </a>
                    </li>
        
                </ul>
            </div>
        </div>
    </div>

     
</div>
   
    <div class="js-lazy-area ele-team"   style="height:540px;" data-lazy-loadead="yes">

    <!-- 高清图片 -->
    <div class="area area-photos">
        <div class="layout">
            <div class="block-title">
                <h2 class="title">高清图片</h2>
                <div class="title-sub">
                    <div class="more" bosszone="SY_Photomore">
                        <a class="arrow" href="http://sports.qq.com/nba/photo/">更多图集</a>
                    </div>
                </div>
            </div>
            <div class="block-body cf">
                <div class="control cf">
                    <a href="javascript:%20void(0);" class="next" id="highFocusBtnL" bosszone="SY_Photoswitch">&gt;</a>
                    <a href="javascript:%20void(0);" class="prev" id="highFocusBtnR" bosszone="SY_Photoswitch">&lt;</a>
                </div>
                <div class="photos-wrap" id="highFocusCont" bosszone="SY_Photoclk">
                    <div class="page" style="display: block;">
                        <!-- 位置1 / 420x405-->
                        <a class="hdpic-item hdpic-item-1" href="http://sports.qq.com/a/20160927/005629.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/17668790_1200x1000_0.png" alt="NBA现役十大扣篮王" style="width: 100%;height: auto;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>NBA现役十大扣篮王</p>
                            </div>
                        </a>
                        <!-- 位置2 / 405x200-->
                        <a class="hdpic-item hdpic-item-2" href="http://sports.qq.com/a/20160927/004148.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/17670591_1200x1000_0.jpg" alt="库里杜少终同框" style="width: 100%;height: auto;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>库里杜少终同框</p>
                            </div>
                        </a>
                        <!-- 位置3 / 200x200-->
                        <a class="hdpic-item hdpic-item-3" href="http://sports.qq.com/nba/sports.qq.com/a/20160927/005248.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/1364583761.jpg" alt="这些组合未夺冠实在可惜" style="width: 100%;height: auto;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>这些组合未夺冠实在可惜</p>
                            </div>
                        </a>
                        <!-- 位置4 / 200x200-->
                        <a class="hdpic-item hdpic-item-4" href="http://sports.qq.com/a/20160927/005209.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/17668327_1200x1000_0.jpg" alt="23vs24成泡影" style="width: 100%;height: auto;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>23vs24成泡影</p>
                            </div>
                        </a>
                        <!-- 位置5 / 200x405-->
                        <a class="hdpic-item hdpic-item-5" href="http://sports.qq.com/a/20161022/004445.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/17905760_1200x1000_0.jpg" alt="周杰伦与偶像AI同框" style="width: 100%;height: auto;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>周杰伦与偶像AI同框</p>
                            </div>

                        </a>
                        <!-- 位置6 / 200x200-->
                        <a class="hdpic-item hdpic-item-6" href="http://sports.qq.com/nba/sports.qq.com/a/20160927/003211.htm">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/138808251.jpg" alt="阿联上演“死亡之瞪”" style="width:100%;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>阿联上演“死亡之瞪”</p>
                            </div>
                        </a>
                        <!-- 位置7 / 200x200-->
                        <a class="hdpic-item hdpic-item-7" href="http://sports.qq.com/a/20160717/004572.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/16830090_1200x1000_0 (1).jpg" alt="不思悔改的奥多姆" style="width: 100%;"></div>
                            <div class="mask">
                                <div class="tag"></div>
                                <i class="go">&gt;</i>
                                <p>不思悔改的奥多姆</p>
                            </div>
                        </a>
                        <!--[if !IE]>
                        |xGv00|6df37f4163b83bf7406cc37efeb1adde
                        <![endif]--> </div>
                    <div class="page" style="display: none;">
                        <!-- 位置1 / 420x405-->
                        <a class="hdpic-item hdpic-item-1" href="http://sports.qq.com/a/20160624/008201.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0177a1fc70f5fc003b.jpg" alt="选秀前16级新秀大合照" style="width: 100%;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>选秀前16级新秀大合照</p>
                            </div>
                        </a>
                        <!-- 位置2 / 405x200-->
                        <a class="hdpic-item hdpic-item-2" href="http://sports.qq.com/a/20160624/006882.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0177a1fc70f5fc003b.jpg" alt="骑士夺首冠" style="width: 100%;"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>骑士夺首冠</p>
                            </div>
                        </a>
                        <!-- 位置3 / 200x200-->
                        <a class="hdpic-item hdpic-item-3" href="http://redbullbasketball2016.act.qq.com/">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0115130e87adb84213.jpg" alt="红牛城市传奇篮球赛"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>红牛城市传奇篮球赛</p>
                            </div>
                        </a>
                        <!-- 位置4 / 200x200-->
                        <a class="hdpic-item hdpic-item-4" href="http://sports.qq.com/a/20160623/017488.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0115130e87adb84213.jpg" alt="被交易MVP"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>被交易MVP</p>
                            </div>
                        </a>
                        <!-- 位置5 / 200x405-->
                        <a class="hdpic-item hdpic-item-5" href="http://sports.qq.com/a/20160623/020932.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0115130e87adb84213.jpg" alt="状元热门领衔新秀定妆照 "></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>状元热门领衔新秀定妆照</p>
                            </div>

                        </a>
                        <!-- 位置6 / 200x200-->
                        <a class="hdpic-item hdpic-item-6" href="http://sports.qq.com/a/20160623/009293.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0115130e87adb84213.jpg" alt="詹皇骑士携奖杯胜利游行 "></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>詹皇骑士携奖杯胜利游行</p>
                            </div>
                        </a>
                        <!-- 位置7 / 200x200-->
                        <a class="hdpic-item hdpic-item-7" href="http://sports.qq.com/a/20160623/008714.htm#p=1">
                            <div class="imgage">
                                <img src="__PUBLIC__/img/basketball/t0115130e87adb84213.jpg" alt="NBA情侣分手合集"></div>
                            <div class="mask">
                                <div class="tag">组图</div>
                                <i class="go">&gt;</i>
                                <p>NBA情侣分手合集</p>
                            </div>
                        </a>
                        <!--[if !IE]>
                        |xGv00|12bcbdcd0a17f4550a5480fde08fb0e7
                        <![endif]--> </div>
                </div>
            </div>
        </div>
    </div>
 
</div>
 
<!-- 占位 -->
<div style="height:40px;"></div>
 

<!-- 电梯 -->
<div class="elevator" bosszone="SY_Elevator">
     
    <a href="javascript:onTop();" id=top  target="_self" class="gotop" title="回到顶部"></a>
    <a href="http://china.nba.com/videos/" target="_self" data-ref="ele-video" class="video" id="tv"><em>视频</em>
    </a>
     
    <a href="http://china.nba.com/playerindex/;" target="_self" data-ref="ele-star" class="star">
        <em>球星</em>
    </a>
    <a href="http://china.nba.com/teamindex/;" target="_self" data-ref="ele-team" class="team">
        <em>球队</em>
    </a>
    
</a>
</div> 
<include file="public/footer" />





